<html lang="en">

{{> layout/head}}

<body>
	{{! The page header }}
	{{> layout/header}}
	{{! The main content of the page }}

	{{> @partial-block}}
	{{! The page footer }}
	{{> layout/footer}}
</body>

</html>
